.addform{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90vh;
    margin-top:10vh; 
}

#content{
    width: 95vw;
    height: 66vh;
    border: none;
    padding: 0.5em;
    font-size: 1.5em;
    border-radius: 7px;
}
#title{
    width: 95vw;
    font-size: 2.5em;
    border: none;
    padding: 0.5em;
    border-radius: 7px;
}

#postadd{
    border: none;
    padding:1em;
    font-size: 1.2em;
    font-weight: bold;
    border-top-left-radius: 7px; 
    border-top-right-radius: 7px;
    cursor: pointer;
    margin-top: 1em; 
    background: #0191de;
    color: #fff;
    width: 40vw;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#postadd:hover{
    background: #0d70a5;
}

@media only screen and (max-width: 600px) {
    #content{
        height: 50vh;
    }
    #title{
        border: 4px solid #283038;

    }
}