header{
    width: 100vw;
    padding: 0.5em;
    background: #0191de;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 12px 0px black;
    margin-bottom:1em; 
}
#back{
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    padding: 0.3em;
}
#back:hover{
    background: #0d70a5
}
#headertitle{
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
    flex-grow: 1;
    text-align: center;
}